@page "/admin/posts"

@using Ray.Blog.Permissions
@using Volo.Abp.Application.Dtos
@using Ray.Blog.Posts
@using Ray.Blog.Localization
@using Microsoft.Extensions.Localization
@using Blazorise.Markdown
@using Blazorise.Components

@inherits AbpCrudPageBase<IPostsAppService, PostDto, Guid, PagedAndSortedResultRequestDto, CreatePostDto>
@attribute [Authorize(BlogPermissions.Posts.Default)]

@inject IStringLocalizer<BlogResource> L
@inject AbpBlazorMessageLocalizerHelper<BlogResource> LH

<Card>

    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Posts"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (HasCreatePermission)
                {
                    <Button Color="Color.Primary"
                        Clicked="OpenCreateModalAsync">
                        @L["NewPost"]
                    </Button>
                }
            </Column>
        </Row>
    </CardHeader>

    <CardBody>

        <DataGrid TItem="PostDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">

            <DataGridColumns>

                <DataGridColumn TItem="PostDto"
                                Field="@nameof(PostDto.Title)"
                                Caption="@L["Title"]"></DataGridColumn>

                <DataGridColumn TItem="PostDto"
                                Field="@nameof(PostDto.CategoryName)"
                                Caption="@L["CategoryName"]"></DataGridColumn>

                <DataGridColumn TItem="PostDto"
                                Field="@nameof(PostDto.Tags)"
                                Caption="@L["Tags"]">
                    <DisplayTemplate>
                        @foreach (var tag in context.Tags)
                            {
                        <Badge Color="Color.Primary">@tag.Name</Badge>
                        }
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridColumn TItem="PostDto"
                                Field="@nameof(PostDto.CreationTime)"
                                Caption="@L["CreationTime"]">
                    <DisplayTemplate>
                        @context.CreationTime.ToLongDateString()
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridEntityActionsColumn TItem="PostDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="PostDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="PostDto"
                                          Text="@L["Edit"]"
                                          Visible="HasUpdatePermission"
                                          Clicked="() => OpenEditModalAsync(context)" />
                            <EntityAction TItem="PostDto"
                                          Text="@L["Delete"]"
                                          Visible="HasDeletePermission"
                                          Clicked="() => DeleteEntityAsync(context)"
                                          ConfirmationMessage="() => GetDeleteConfirmationMessage(context)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>

            </DataGridColumns>

        </DataGrid>

    </CardBody>

</Card>


<Modal @ref="@CreateModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true" Size="ModalSize.ExtraLarge">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewPost"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>

            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">

                    <Field>
                        <FieldLabel>@L["Category"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewEntity.CategoryId">
                            <SelectItem TValue="Guid" Value="Guid.Empty">@L["PickAnCategory"]</SelectItem>
                            @foreach (var category in categoryAllList)
                            {
                                <SelectItem TValue="Guid" Value="@category.Id">
                                    @category.Name
                                </SelectItem>
                            }
                        </Select>
                    </Field>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Title"]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.Title">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Field>
                        <FieldLabel>@L["Url"]</FieldLabel>
                        <TextEdit @bind-Text="NewEntity.Url" />
                    </Field>

                    <Field>
                        <FieldLabel>@L["Markdown"]</FieldLabel>
                        <Markdown @bind-Value="NewEntity.Markdown" />
                    </Field>

                    <Field>
                        <FieldLabel>@L["Tags"]</FieldLabel>
                        <div class="tag-input">
                            @foreach (var tagId in NewEntity.TagIds)
                            {
                                <Badge Color="Color.Primary" Margin="Margin.Is2.FromLeft" CloseClicked="() => NewEntity.TagIds.Remove(tagId)">@GetTagById(tagId).Name</Badge>
                            }
                            <Autocomplete TItem="TagLookupDto"
                                          TValue="TagLookupDto"
                                          Data="tagAllList"
                                          SelectedValue="SelectedTag"
                                          TextField="@(item => item.Name)"
                                          ValueField="@(item => item)"
                                          SelectedValueChanged="@((tag)=>NewEntity.TagIds.AddIfNotContains(tag.Id))"
                                          Placeholder="select..." />
                        </div>
                    </Field>

                </Validations>
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>


<Modal @ref="@EditModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true" Size="ModalSize.ExtraLarge">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingEntity.Title</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync" />
            </ModalHeader>

            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">

                    <Field>
                        <FieldLabel>@L["Category"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingEntity.CategoryId">
                            @foreach (var category in categoryAllList)
                            {
                                <SelectItem TValue="Guid" Value="@category.Id">
                                    @category.Name
                                </SelectItem>
                            }
                        </Select>
                    </Field>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Title"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.Title">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Field>
                        <FieldLabel>@L["Url"]</FieldLabel>
                        <TextEdit @bind-Text="EditingEntity.Url" />
                    </Field>

                    <Field>
                        <FieldLabel>@L["Markdown"]</FieldLabel>
                        <Markdown @bind-Value="EditingEntity.Markdown" />
                    </Field>

                    <Field>
                        <FieldLabel>@L["Tags"]</FieldLabel>
                        <div class="tag-input">
                            @foreach (var tagId in EditingEntity.TagIds)
                            {
                                <Badge Color="Color.Primary" Margin="Margin.Is2.FromLeft" CloseClicked="() => EditingEntity.TagIds.Remove(tagId)">@GetTagById(tagId).Name</Badge>
                            }
                            <Autocomplete TItem="TagLookupDto"
                                          TValue="TagLookupDto"
                                          Data="tagAllList"
                                          SelectedValue="SelectedTag"
                                          TextField="@(item => item.Name)"
                                          ValueField="@(item => item)"
                                          SelectedValueChanged="@((tag)=>EditingEntity.TagIds.AddIfNotContains(tag.Id))"
                                          Placeholder="select..." />
                        </div>
                    </Field>

                </Validations>
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>


@code {

}
