@inherits BlogComponentBase

@using Ray.Blog.Comments
@using Blazorise.Markdown
@using AntDesign

<div>

    <Blazorise.Divider DividerType="DividerType.TextContent" Text="评论列表" />

    <ListGroup Flush>
        @{
            for (int i = 0; i < this.CommentList.Count; i++)
            {
                var item = this.CommentList[i];
                <ListGroupItem>
                    <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                        <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">Zai7Lou</Heading>
                        <CommentThumbUp Comment="@item"></CommentThumbUp>
                    </Div>
                    <Blazorise.Paragraph Margin="Margin.Is1.FromBottom">@item.Text</Blazorise.Paragraph>
                    <Div TextAlignment="TextAlignment.End">
                        <Small>@item.CreationTime</Small>
                    </Div>
                </ListGroupItem>
            }
        }
    </ListGroup>

    <Div TextAlignment="TextAlignment.End" Margin="Margin.Is3.FromTop.Is3.FromBottom">
        <AntDesign.Pagination  DefaultCurrent="6"
                               Total="@this.TotalCount"
                               ShowSizeChanger
                               OnShowSizeChange="OnShowSizeChange"
                               PageIndex="@this.PageSize"
                               OnChange="OnChange"/>
    </Div>

    <Markdown @bind-Value="this.NewComment.Text" Height="Height.Is25" Width="Width.Is50"></Markdown>
    <Blazorise.Button Color="Blazorise.Color.Primary" Clicked="OnAddCommentButtonClickedAsync">发送</Blazorise.Button>

</div>
