@page "/posts/{Id:guid}"

@inherits BlogComponentBase

<Jumbotron Background="Background.Transparent" Margin="Margin.Is4.FromBottom">
    <JumbotronTitle Size="JumbotronTitleSize.Is4" TextAlignment="TextAlignment.Center">
        @PostDto.Title
    </JumbotronTitle>
    <JumbotronSubtitle TextAlignment="TextAlignment.Center"
                       TextWeight="TextWeight.Light"
                       TextColor="TextColor.Secondary">
        <Paragraph>
            <Icon Name="IconName.Clock" IconSize="IconSize.ExtraSmall"/>
            <Small>
                @PostDto.CreationTime.ToString("yyyy-M-d dddd")
            </Small>
            <Icon Name="IconName.ThumbsUp" IconSize="IconSize.ExtraSmall" />
            <Small>@PostDto.ThumbUpHistories.Count</Small>
            <Icon Name="IconName.Comment" IconSize="IconSize.ExtraSmall" />
            <Small>@PostDto.CommentCount</Small>
        </Paragraph>
    </JumbotronSubtitle>
    <Divider/>
    <Paragraph>
        @((MarkupString)_markdownHtml)
    </Paragraph>
</Jumbotron>

<Div TextAlignment="TextAlignment.Center">
    <PostThumbUp Post="@PostDto" />
</Div>

<Div>
    <Comments PostId="@Id"></Comments>
</Div>
