@page "/posts/{Id:guid}"

@inherits BlogComponentBase

<Jumbotron Background="Background.Transparent" Margin="Margin.Is4.FromBottom">
    <JumbotronTitle Size="JumbotronTitleSize.Is4" TextAlignment="TextAlignment.Center">
        @PostDto.Title
    </JumbotronTitle>
    <JumbotronSubtitle TextAlignment="TextAlignment.Center"
                       TextWeight="TextWeight.Light"
                       TextColor="TextColor.Secondary">
        <Icon Name="IconName.Clock" IconSize="IconSize.ExtraSmall" />
        <Text>
            @PostDto.CreationTime.ToString("yyyy-M-d dddd")
        </Text>
        <Icon Name="IconName.ThumbsUp" IconSize="IconSize.ExtraSmall" />
        <Text>@PostDto.ThumbUpHistories.Count</Text>
        <Icon Name="IconName.Comment" IconSize="IconSize.ExtraSmall" />
        <Text>2</Text>
    </JumbotronSubtitle>
    <Divider/>
    <Paragraph>
        @((MarkupString)_markdownHtml)
    </Paragraph>
</Jumbotron>

<Div TextAlignment="TextAlignment.Center">
    <PostThumbUp Post="@PostDto" />
</Div>

<Div>
    <Comments PostId="@Id"></Comments>
</Div>
