@page "/posts"
@page "/categoryId/{CategoryId:guid}/posts"
@page "/tag/{TagId:guid}/posts"

@using Ray.Blog.Posts
@using Ray.Blog.Blazor.Pages.RankingList

@inherits BlogComponentBase

@*搜索*@
<Row Margin="Margin.Is4">
    <Column>
        <FieldLabel>@L["Title"]</FieldLabel>
        <TextEdit @bind-Text="@this.Title" />
    </Column>
    <Column>
        <Field>
            <FieldBody>
                <FieldLabel>@L["Category"]</FieldLabel>
                <Select TValue="Guid?" SelectedValue="@CategoryId" SelectedValueChanged="@OnSelectedValueChanged">
                    <SelectItem TValue="Guid?" Value="@Guid.Empty">All</SelectItem>
                    @foreach (var category in _categoryAllList)
                                {
                    <SelectItem TValue="Guid?" Value="@category.Id">
                        @category.Name
                    </SelectItem>
                                }
                </Select>
            </FieldBody>
        </Field>
    </Column>
    <Column VerticalAlignment="VerticalAlignment.Middle" Margin="Margin.Is4.FromTop">
        <Field>
            <FieldBody>
                <FieldLabel></FieldLabel>
                <Button Color="Color.Primary" Clicked="OnSearchButtonClickAsync">查询</Button>
            </FieldBody>
        </Field>
    </Column>
</Row>

@*博文列表及右侧排行榜*@
<Row Gutter="(64, 16)">
    @*博文列表*@
    <Column ColumnSize="ColumnSize.Is9">
        <DataGrid TItem="PostDto"
                  Data="PostList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DetailRowTemplate>

                <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                    <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">
                        <Blazorise.Link To="@("/posts/"+context.Id.ToString())" Title="test">@context.Title</Blazorise.Link>
                    </Heading>
                </Div>
                <Small>这是简介</Small>
                <Paragraph Margin="Margin.Is1.FromBottom">
                    <Small>@context.CreationTime.ToString("yyyy-M-d dddd")</Small>
                    <Icon Name="IconName.ThumbsUp" TextColor="TextColor.Secondary" /> @(context.ThumbUpHistories.Count==0?" ":context.ThumbUpHistories.Count)
                </Paragraph>
                <Div>
                    @foreach (var tag in context.Tags)
                            {
                    <Badge Color="Color.Info">@tag.Name</Badge>
                            }
                </Div>

            </DetailRowTemplate>
        </DataGrid>
    </Column>

    @*右侧排行榜*@
    <Column ColumnSize="ColumnSize.Is3">

        @*最新评论*@
        <Row>
            <Text TextColor="TextColor.Secondary">💬 最新评论</Text>
        </Row>
        <Row Margin="Margin.Is2.FromTop">
            <RecentCommentRankingList></RecentCommentRankingList>
        </Row>

        @*点赞排行*@
        <Row Margin="Margin.Is4.FromTop">
            <Div>
                <Icon Name="IconName.ThumbsUp" TextColor="TextColor.Success" />
                <Text TextColor="TextColor.Secondary"> 点赞排行</Text>
            </Div>
        </Row>
        <Row Margin="Margin.Is2.FromTop">
            <ThumbsUpRankingList />
        </Row>

        @*阅读排行*@
        @*
            <Row>
            <Text TextColor="TextColor.Secondary">👀 阅读排行</Text>
            </Row>
            <Row>
            <ReadingRankingList />
            </Row>
        *@
    </Column>
</Row>
